.row.sign-in-main
  .col-md-4.col-md-offset-4
    %h2 Please sign in

    - if flash[:error]
      .alert.alert-warning.alert-dismissible{role: 'alert'}
        %button.close{type: 'button', data: {dismiss: 'alert'}}
          %span{aria: {hidden: 'true'}} &times
          %span.sr-only Close
        %strong Warning
        = flash[:error]

    = form_for(:session, url: v0_auth_sessions_path) do |f|
      .form-group
        = f.text_field :email_username, placeholder: 'Email or username', class: 'form-control', disabled: @invalid_api_key
      .form-group
        = f.password_field :password, placeholder: 'Password', class: 'form-control', disabled: @invalid_api_key
      -# TODO: remember me checkbox
      = f.hidden_field :client_api_key, :value => @client_api_key
      = f.hidden_field :client_redirect_uri, :value => @client_redirect_uri
      = f.submit "Sign in", class: 'btn btn-primary', disabled: @invalid_api_key
.row.sign-in-footer
  .col-md-4.col-md-offset-4.sign-in-footer-logo
    %p.text-center
      = link_to 'Supurl', '/'
