.row.sign-up.session-main
  .col-md-4.col-md-offset-4
    %h2 Create a Supurl Account

    - if flash[:error]
      .alert.alert-warning.alert-dismissible{role: 'alert'}
        %button.close{type: 'button', data: {dismiss: 'alert'}}
          %span{aria: {hidden: 'true'}} &times
          %span.sr-only Close
        %strong Warning
        = flash[:error]
    - if !@user.errors.messages.empty?
      .alert.alert-warning.alert-dismissible{role: 'alert'}
        %button.close{type: 'button', data: {dismiss: 'alert'}}
          %span{aria: {hidden: 'true'}} &times
          %span.sr-only Close
        - @user.errors.each do |key, value|
          %p
            %strong Warning
            = key
            = value

    = form_for(:user, url: v0_auth_users_path) do |f|
      .form-group
        = f.text_field :username, placeholder: 'Username', class: 'form-control'
      .form-group
        = f.text_field :email, placeholder: 'Email', class: 'form-control'
      .form-group
        = f.password_field :password, placeholder: 'Password', class: 'form-control'
      .form-group
        = f.password_field :password_confirmation, placeholder: 'Password', class: 'form-control'

      - if @revealed_hash
        = f.hidden_field :client_api_key, value: @revealed_hash[:api_key]
        = f.hidden_field :client_redirect_uri, value: @revealed_hash[:redirect_uri]
      - else
        = f.hidden_field :client_api_key, value: @client_api_key
        = f.hidden_field :client_redirect_uri, value: @client_redirect_uri

      = f.hidden_field :method, value: 'implicit'

      = f.submit "Sign up", class: 'btn btn-primary', disabled: @invalid_api_key

.row
  .col-md-4.col-md-offset-4
    %p.text-center
      = link_to 'Sign in', v0_auth_sign_in_path
.row.sign-in-footer
  .col-md-4.col-md-offset-4.session-footer-logo
    %p.text-center
      = link_to 'Supurl', '/'
